In [2]:
import numpy as np
import pandas as pd

In [5]:
# Níveis de índice
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [9]:
inside

[1, 2, 3, 1, 2, 3]

In [12]:
hier_index = list(zip(outside,inside))

In [14]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [16]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [19]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [23]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index, columns=["A","B"])

In [25]:
df

             A         B
G1 1 -1.554296 -1.101513
   2  0.172958  1.402911
   3  0.114841  0.138762
G2 1  2.837379 -0.676811
   2 -0.396994 -0.513907
   3  0.327280 -2.185140

In [27]:
df.loc["G1"]

          A         B
1 -1.554296 -1.101513
2  0.172958  1.402911
3  0.114841  0.138762

In [30]:
df.loc["G1"].loc[1]

A   -1.554296
B   -1.101513
Name: 1, dtype: float64

In [32]:
df.index.names = ["Grupo", "Número"]

In [34]:
df

                     A         B
Grupo Número
G1    1      -1.554296 -1.101513
      2       0.172958  1.402911
      3       0.114841  0.138762
G2    1       2.837379 -0.676811
      2      -0.396994 -0.513907
      3       0.327280 -2.185140

In [39]:
df.xs(1,level="Número")

              A         B
Grupo
G1    -1.554296 -1.101513
G2     2.837379 -0.676811