In [2]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(101) #Todos os números que eu gerar serão iguais a todos os computadores.

In [9]:
df = pd.DataFrame(np.random.randn(5,4), index="A B C D E".split(), columns="W X Y Z".split())

In [11]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [13]:
df["W"]

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [19]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df[["W","Z"]]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [52]:
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [74]:
df["new"] = df["W"] + df["X"]

In [75]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

In [77]:
df.drop("new", axis=1, inplace=True) #Excluir colunas

In [79]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [82]:
df.loc["A"]

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [84]:
df.loc["A","W"] #Loc procura nos nomes dos índices existentes na tabela

-0.993263499973366

In [86]:
df.loc[["A","B"], ["X","Y","Z"]]

          X         Y         Z
A  0.196800 -1.136645  0.000366
B -0.156598 -0.031579  0.649826

In [88]:
df.iloc[1:4, 2:] #ILOC procura como índices numéricos.

          Y         Z
B -0.031579  0.649826
C -0.755325 -0.346419
D  0.558769  1.024810